@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {

    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    overflow-x: hidden;

}



:root {
    --background-gradient-from: #f8fafc;  /* Light mode */
    --background-gradient-to: #e2e8f0;
    --text-primary: #1e293b;
    --text-secondary: #475569;
    --background: #ffffff;
    --background-proXp-div: #f1f5f9;
    --company-bg: black;
    --menu-bg: #f1f5f9;
    --text-active: #3b82f6;
    
}

.dark {
    --background-gradient-from: #252529;  /* Dark mode */
    --background-gradient-to: black;
    --text-primary: #f8fafc;
    --text-secondary: #94a3b8;
    --background: #010103;
    --background-proXp-div: #0e0e10;
    --company-bg: #27272A;
    --menu-bg: #17181c;
}